<!DOCTYPE html>
<html>
    <head>
        <title> New Author</title>
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>

        <h1> Adding a New Author </h1>
        

        <form method="POST">
        
            First name: <input type="text" name="firstName"><br>    
            Last  name: <input type="text" name="lastName"><br>    
            Gender: <input type="radio" name="gender" value="F">Female
                    <input type="radio" name="gender" value="M">Male 
            <!--TODO: Add the remaining fields -->
            <br> Date of Birth <input type="text" name="dob">
            <br>biography <textarea name="biography" cols="50" height="20"></textarea>
            <br><br>
            <button>Add Author</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        
    </body>
</html>