<header id="leftNav" class="topnav">
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <a href="/ItemDisplay">View Movies</a>
    <a href="/cart">My Cart</a>
    <a href="/profile">My Profile</a>
</header>