<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    {{!-- <title>Movie Ticket Seller</title> --}}

    <link rel="stylesheet" href="./public/css/styles.css">
    <script src="handlebars-v4.7.6.js"></script>
</head>

{{> header1 }}

<body> 
    
    {{{body}}}
</body>

</html>