<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1> This is the Home page</h1>
    <form action='/itemDisplay' method='GET'>
      <div class="text-center">
        <button class='btn btn-primary'> Display Items</button>
      </div>
    </form>
  </body>
</html>
