<!DOCTYPE html>
<html>
    <%- include('partials/header') %>
    <body>
        <div class="topnav">
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
          </div>
        <h1>Movie Tickets</h1>
        <hr>
        <p>Welome to the movie tickets app! Browse movies, fill your cart, and purchase movie 
            for the biggest shows out now. Sign up or login to get started
        </p>
        <img src="./public/img/warWGrandpa.jpg">
    </body>
</html>