<!-- NEED TO EDIT -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Display Movie Information</title>
        <link rel="stylesheet" type = "text/css" href="app.css">
    </head>
    <body>
        <h1> Hello </h1>
        <section>
            <h2>How are you doing?</h2>
            <p>I am working on this right now.</p>
            <img src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg">
        </section>
    </body>

</html>