<!DOCTYPE html>
<html>
    <%- include('partials/header') %>
    <body>
        <div id="leftNav" class="topnav">
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <a href="/ItemDisplay">View Movies</a>
            <a href="/cart">My Cart</a>
            <a href="/profile">My Profile</a>
        </div>
        <header>Movie List</header>
        <nav>
            <ul id="app">

                <li v-for="movie in movies">
                    {{ movie }}
                </li>

                <!-- <li>{{product}}</li>
                <li>Movie 2</li>
                <li>Movie 3</li>
                <li>Movie 4</li>
                <li>Movie 5</li>
                <li>Movie 6</li> 
                <li>Movie 7</li> 
                <li>Movie 8</li>
                <li>Movie 9</li>
                <li>Movie 10</li> -->

            </ul>
        </nav>
    </body>

    <script src="https://unpkg.com/vue"></script>
    <script>
        const app = new Vue({
            el:'#app',
            data: {
                movies: []
            },
            created(){
                fetch('https://api.myjson.com/bins/74l63')
                    .then(response => response.json())
                    .then(json => {
                        this.movies = json.movies
                    })
            }

            
        })
    </script>

</html>