<body>
    <h1>Movie List</h1>
    <nav>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src=" <%= movieList[0].imgURL %>" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><%= movieList[0].summary %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    </div>
                                    <small class="text-muted">Genre: <%= movieList[0].genre %></small>
                                    <small class="text-muted">Rated: <%= movieList[0].rating %> / 10</small>
                                    <small class="text-muted">By <%= movieList[0].director %></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src=" <%= movieList[1].imgURL %>" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><%= movieList[1].summary %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Genre: <%= movieList[1].genre %></small>
                                    <small class="text-muted">Rated: <%= movieList[1].rating %> / 10</small>
                                    <small class="text-muted">By <%= movieList[1].director %></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src=" <%= movieList[2].imgURL %>" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><%= movieList[2].summary %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Genre: <%= movieList[2].genre %></small>
                                    <small class="text-muted">Rated: <%= movieList[2].rating %> / 10</small>
                                    <small class="text-muted">By <%= movieList[2].director %></small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </nav>
    <script type="text/javascript">
        var sentence = "<p>My name is {{name}} and I live in {{city}}</p>";
        var template = Handlebars.compile(sentence);
        var data = template({ name: "Geoffrey", city: "Hollister" });

        document.getElementById("randoData").innerHTML += data;
    </script>
</body>