<body>
    <h1>Movie List</h1>
    <nav>

        <div class="title">
            <p>Liste of my most loved League champions</p>
        </div>
        <ul>
            <li class="midlaner">Leblanc</li>
            <li class="midlaner">Lux</li>
            <li class="midlaner">Teemo</li>
            <li class="midlaner">Kassadin</li>
            <li class="midlaner">Jarvan IV</li>
        </ul>

    </nav>
    <script type="text/javascript">
        var sentence = "<p>My name is {{name}} and I live in {{city}}</p>";
        var template = Handlebars.compile(sentence);
        var data = template({ name: "Geoffrey", city: "Hollister" });

        document.getElementById("randoData").innerHTML += data;
    </script>
</body>