<!DOCTYPE html>
<html>
    <%- include('partials/header') %>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/signup">Sign Up</a>
          </div>
        <h1>Login</h1>
        <hr>
        <input id="username" type="text" placeholder="Username"><br>
        <input id="password" type="password" placeholder="Password"><br>
        <button id="loginBtn">Login</button>
    </body>
</html>