<!DOCTYPE html>
<html>
    <%- include('partials/header') %>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/login">Login</a>
          </div>
        <h1>Sign Up</h1>
        <hr>
        <input id="username" type="text" placeholder="Username"><br>
        <input id="password" type="password" placeholder="Password"><br>
        <input id="confirmPassword" type="password" placeholder="Confirm Password"><br>
        <button id="signupBtn">Sign Up!</button>
    </body>
</html>