<!DOCTYPE html>
<html>
    <%- include('partials/header') %>

    <body>
        <%- include('partials/navbar') %>
        
        <h1>Sign Up</h1>
        <hr>
        <form action="/signupProcess" method="POST">
            <input id="usernameSignup" type="text" name="username" placeholder="USERNAME"><br>    
            <input id="passwordSignup" type="password" name="password" placeholder="PASSWORD"><br>    
            <input id="confirmPassword" type="password" name="confirmPass" placeholder="CONFIRM PASSWORD"><br>
            <button id="signupBtn">Sign Up</button><br>
        
        </form>

        <script>
            $("#signupBtn").on("click", function(){
                // alert("works");
                $.ajax({
                      method: "post",
                         url: "/signupProcess",
                    dataType: "json",
                        data: { "username":$("#username").val(),
                                "password":$("#password").val() },
                     success: function(result,status) {
                        alert(result);
                        if (result.alreadyExists) {
                            alert("Account Already Exists.");
                            
                        } else {
                            location.href = "/"
                            
                        }
                    }
                    
                });//ajax
                
            });//click
        
        </script>
    </body>
    
</html>