<!DOCTYPE html>
<html>
    <%- include('partials/header') %>
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">
    <body>
        <%- include('partials/navbar') %>
        
        <h1>Sign Up</h1>
        <hr>
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
            <a href="/" class="btn btn-secondary my-2">Home</a>
      
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="username" id="inputusername" class="form-control" placeholder="Username" required autofocus>
      
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="cpassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up!</button>
          </form>

        <script>
            $("#signupBtn").on("click", function(){
                // alert("works");
                $.ajax({
                      method: "post",
                         url: "/signupProcess",
                    dataType: "json",
                        data: { "username":$("#username").val(),
                                "password":$("#password").val() },
                     success: function(result,status) {
                        alert(result);
                        if (result.alreadyExists) {
                            alert("Account Already Exists.");
                            
                        } else {
                            location.href = "/"
                            
                        }
                    }
                    
                });//ajax
                
            });//click
        
        </script>
    </body>
    
</html>
