<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/header') %>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
    </head>
    

    <body class="text-center">
        <%- include('partials/navbar') %>
        
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <hr>
        <form action="/signupProcess" method="POST">
            <input id="usernameSignup" type="text" name="username" placeholder="USERNAME"><br>    
            <input id="passwordSignup" type="password" name="password" placeholder="PASSWORD"><br>    
            <input id="confirmPassword" type="password" name="confirmPass" placeholder="CONFIRM PASSWORD"><br>
            <button id="signupBtn">Sign Up</button><br>
        
        </form>

        <script>
            $("#signupBtn").on("click", function(){
                // alert("works");
                $.ajax({
                      method: "post",
                         url: "/signupProcess",
                    dataType: "json",
                        data: { "username":$("#username").val(),
                                "password":$("#password").val() },
                     success: function(result,status) {
                        alert(result);
                        if (result.alreadyExists) {
                            alert("Account Already Exists.");
                            
                        } else {
                            location.href = "/"
                            
                        }
                    }
                    
                });//ajax
                
            });//click
        
        </script>
    </body>
    
</html>
