#username {
	margin: auto;
}

body{
    background-color: aqua;
}

header {
	text-align: left;
	padding: 10px;
	font-size: 15px;
}

h1 {
	padding: 25px;
	text-align: center;
	font-size: 75px;
}

.title {
	font-size: 50px;
	text-align: center;
}

li {
	font-size: 25px;
	width: 300px;
	margin: 4px;
	padding: 5px;
	list-style: none;
}
.midlaner {
	background-color: #eeeeee;
}
.toplaner {
	background-color: #ffea00;
}
